@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');
:root {
  --blue: #2c8ef8;
  --indigo: #727cf5;
  --purple: #6b5eae;
  --pink: #ff679b;
  --red: #fa5c7c;
  --orange: #fd7e14;
  --yellow: #ffbc00;
  --green: #0acf97;
  --teal: #02a8b5;
  --cyan: #39afd1;
  --white: #fff;
  --gray: #98a6ad;
  --gray-light: #313a45;
  --gray-dark: #343a40;
  --primary: #727cf5;
  --secondary: #6c757d;
  --success: #0acf97;
  --info: #39afd1;
  --warning: #ffbc00;
  --danger: #fa5c7c;
  --light: #e3eaef;
  --gray-white: #fafbfe;
  --safcsp-blue: #00aebc;
  --safcsp-dark: #54565a;
  --dark: #313a46;
  --gray-border: .4px solid #d7dadf;
  --gray-border-bottom: 3px solid #f1f1f1;
  --shadow: 0 0 35px 0 rgba(154,161,171,.15);
}
body {
  font-family: 'El Messiri', sans-serif;
  background-color: var(--light-gray);
}

.card {
    border: none;
}

.badge {
    padding: 10px;
}

#login-page {
    margin-left: 30%;
}

.dropdown-menu .dropdown-item {
    color: var(--secondary);
}

.dropdown-menu #delete {
    color: var(--red);
}

.col-11{
    padding-right: 0px;
    padding-left: 0px;
}

.table {
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
    border: var(--gray-border);
    border-radius: .5rem;
    margin-bottom: 4px;
}

.table-responsive {
    display: block;
}

.order-notes {
    color: var(--gray);
}

thead th {
    color: var(--safcsp-blue);
}

tbody, thead {
    border: var(--safcsp-dark);
}

.box {
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-bottom: var(--gray-border-bottom);
    border-radius: 8px;
    padding: 2em 1.5em;
    border-radius: .5rem;
}

.see-items-button {
    background-color: #dee2e6;
    color: gray;
    border-color: #dee2e6;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    color: var(--safcsp-dark);
}

a {
    color: var(--safcsp-blue);
    text-decoration: none;
}

a:hover {
    color: var(--safcsp-blue);
    text-decoration: none;
}

#submit {
    padding: 8px;
    width: 100%;
    background-color: var(--safcsp-blue);
    color: var(--white);
    font-size: 18px;
    margin-bottom: 25px;
}