{% extends 'base.html' %}
{% load static %}

{% block title %}
	Tea Boy
{% endblock title %}

{% block content %}

{% if request.user.is_anonymous %}
	<p class="form-text text-muted text-center">شو رايك  
	<a href="{% url 'login' %}"> تسجل دخولك </a> عشان تقدر تطلب</p>
	
	<h1 class="text-center mt-4">قائمة الأصناف</h1>
    <div class="row my-3">
		{% for item in items %}
			<div class="col-12 col-sm-6 col-md-4">
				<div class="card my-4">
					<div class="card-body text-center">
						{% if item.image %}
							<div class="col-12">
								<img src="{{item.image.url}}" alt="{{item.name}}">
							</div>
							<div class="col-12">
								<h5 class="items-list">{{item.name}}</h5>
							</div>
						{% else %}
							<div class="col-12">
								<p><img src="{% static 'images/coffee.png' %}" alt="{{item.name}}"></p>
							</div>
							<div class="col-12">
								<h5 class="items-list">{{item.name}}</h5>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}

	</div>

	<br><br>

{% else %}


	<h1 class="text-center mb-4">قائمة الأصناف</h1>
	<p class="form-text text-muted text-center"><a href="/logout">تسجيل الخروج</a></p>

    <div class="row my-3">
		{% for item in items %}
			<div class="col-12 col-sm-6 col-md-6 col-lg-4">
				<div class="card my-4">
					<div class="card-body text-center">
						{% if item.image %}
							<div class="col-12">
								<img src="{{item.image.url}}" alt="{{item.name}}">
							</div>
							<!-- <img src="{{item.image.url}}" alt="{{item.name}}> -->
						{% else %}
							<div class="col-12">
								<p><img src="{% static 'images/coffee.png' %}" alt="{{item.name}}"></p>
							</div>
							<div class="col-12">
								<h5 class="items-list">{{item.name}}</h5>
							</div>
						{% endif %}
						<div class="col-12">
							<h5 class="items-list">{{item.name}}</h5>
						</div>
						<hr>
						<div class="col-12">
							<div class="row">
								<div class="col-12">
									<form action="{% url 'order-create' %}" method="POST">
										{% csrf_token %}
										<input type="text" name="item-name" value="{{item.name}}" hidden>
										<!-- <button class="btn btn-light dropdown-toggle my-2" type="button" id="operations" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											كيف السكر
										</button>
										
										<div class="dropdown-menu text-right" aria-labelledby="operations">
											<a class="dropdown-item" href="#">قليل</a>
											<a class="dropdown-item" href="#">مزبوط</a>
											<a class="dropdown-item" id="delete" href="">زيادة</a>
										</div> -->
										<label for="notes" style="color: lightgray">اكتب ملاحظاتك هنا</lable>
										<textarea class="form-control mb-4 mt-2" id="notes" name="notes" placeholder="مثال: سكر قليل .."></textarea>
										<input type="submit" class="btn btn-primary block" value="تأكيد الطلب" style="background-color: #20c997; border-color: #20c997">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}

	</div>

	<br><br>
	{% endif %}

{% endblock content %}