{% extends 'base.html' %}
{% load static %}

{% block title %}
    menu
{% endblock title %}

{% block content %}

    <div class="row my-3">

		{% for item in items %}
			<div class="col-12 col-sm-6 col-md-4">
				<div class="card my-4">
					<div class="card-body text-center">
						{% if item.image %}
							<img src="{{item.image.url}}" alt="{{item.name}}">
						{% else %}
							<p><img src="{% static 'images/coffee.png' %}" alt="{{item.name}}"></p>
						{% endif %}
						<h5 class="items-list">{{item.name}}</h5>
						<hr>
						<div class="col-12">
							<div class="row">
								<div class="col-12">
									<form action="{% url 'order-create' %}" method="POST">
										{% csrf_token %}
										<input type="text" name="item-name" value="{{item.name}}" hidden>
										<input type="submit" class="btn btn-primary block" value="Order Now" style="background-color: #20c997; border-color: #20c997">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}

	</div>

	<br><br>

{% endblock content %}