{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block content %}

<div id="login-page">
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    
    <div class="form-group col-8">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Username">
    </div>

    <div class="form-group col-8">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>

    <div class="form-group col-8 mt-4">
        <input type="submit" value="Login" class="btn btn-info btn-block">
    </div>
</form>
    <div class="form-group col-8 mt-4">
        <a href="{% url 'items-list' %}" class="btn btn-block see-items-button">See our Menu</a>
    </div>
<div>

{% endblock content %}
