{% extends 'base.html' %}

{% block title %}
    Login
{% endblock title %}

{% block content %}

	<div class="container mt-5">
			<div class="row justify-content-center">
					<div class="col-12 text-center mb-5">
							<h3 style="color: #54565a;">مقهى الإتحاد</h3>
					</div>
			</div>

			<div class="row justify-content-center">
					<div class="col-8 col-sm-7 col-lg-5 col-xl-4 text-right box">
							<form action="{% url 'login' %}" method="POST">
											{% csrf_token %}
									<input class="form-control mb-4 mt-2" placeholder="اسم المستخدم" type="text" name="username" required>
									<input type="password" placeholder="كلمة المرور" class="form-control mb-4 mt-2" name="password" required>
									<input type="submit" class="btn" id="submit" value="دخول">
									<a href="{% url 'items-list' %}" class="btn btn-block see-items-button">عرض قائمة الأصناف<a>
							</form>
					</div>
			</div>
			<br><br>
	</div>

{% endblock content %}
